@font-face {
    font-family: 'RotondaC';
    font-style: normal;
    font-weight: normal;
    src: local('RotondaC'), url('rotondac.woff') format('woff');
}

@font-face {
    font-family: 'RotondaC Bold';
    font-style: normal;
    font-weight: normal;
    src: local('RotondaC Bold'), url('rotondac-bold.woff') format('woff');
}